* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'gotica';
    src: url('../fonts/Bokor-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'roboto';
}

h1 {
    font-family: 'gotica';
    font-size: 90px;
    color: white;
    padding-top: 150px;
    filter: drop-shadow(5px 5px 17px #000000);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(51, 51, 51, 0.7); /* Fondo transparente */
    font-family: 'gotica';
    position: relative; /* Mantener la posición relativa para el z-index */
    z-index: 10; /* Asegurar que esté por encima de otros elementos */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
}

.navbar-logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links li a {
    color: #fff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-size: 1em;
    transition: color 0.3s; /* Transición suave para el color */
}

.navbar-links li a:hover {
    color: #ddd; /* Color al pasar el mouse */
}

.heroSection {
    background-image: url(../images/fondoHero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 42rem;
    margin-bottom: 2rem;
    position: relative;
}

p[class="textoHero"] {
    font-size: 45px;
}


.textos {
    text-align: center;
    color: white;
    position: relative;
}

.botonPrincipal {
    padding: 10px;
    border: 1px solid #454444;
    background-color: #454444;
    width: 150px;
    border-radius: 7px;
    color: white;
    font-family: 'gotica';
    font-size: 18px;
    margin-top: 30px;
    filter: drop-shadow(5px 5px 17px #000000);
}

.botonPrincipal:hover {
    background-color: black;
    transition: 1500ms;
    border: 1px solid #bd7502;
    filter: drop-shadow(5px 5px 10px #000000);
    color: #ecb050;
}

.container {
    display: flex;
    width: 90%; /* Mantén el ancho como está o ajústalo según sea necesario */
    justify-content: space-between;
    margin: 0 auto; /* Añade esto para centrar el contenedor */
    align-items: center; /* Opcional: centrar verticalmente si hay diferentes alturas */
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 70px;
}

#carSectionB {
    width: 110%;
}

.tituloSecundario {
    font-family: 'gotica';
    font-size: 45px;
}

#parrafoSectionB {
    padding: 30px 0;
}

#botonSectionB{
    padding: 10px;
    border: 1px solid #454444;
    background-color: #454444;
    width: 150px;
    border-radius: 7px;
    color: white;
    font-family: 'gotica';
    font-size: 18px;
    margin-top: 10px;
}

#botonSectionB:hover{
    background-color: black;
    transition: 1500ms;
    border: 1px solid #bd7502;
    filter: drop-shadow(5px 5px 10px #000000);
    color: #ecb050;
}

.sectionC {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; 
    text-align: center; 
}

.sectionCHeading {
    font-family: 'gotica';
    margin-bottom: 20px; 
    font-size: 45px;
}

.grid-elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s;
    max-width: 450px;
}

.card:hover {
    transform: scale(1.05); 
}
