/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'gotica';
    src: url('../fonts/Bokor-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'gotica';
    font-size: 90px;
    color: white;
    padding-top: 150px;
    filter: drop-shadow(5px 5px 17px #000000);
}

body {
    font-family: 'roboto';
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    font-family: 'gotica';
}

.navbar-logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.navbar-links li a:hover {
    color: #ddd;
}

.navbar-links.active {
    display: flex;
}

.textoHero {
    font-size: 35px;
}

.heroSection {
    background-image: url(../images/fondoHero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 42rem;
    margin-bottom: 2rem;
    position: relative;
}

.textos {
    text-align: center;
    color: white;
    position: relative;
}

.botonPrincipal {
    padding: 10px;
    border: 1px solid #454444;
    background-color: #454444;
    width: 150px;
    border-radius: 7px;
    color: white;
    font-family: 'gotica';
    font-size: 18px;
    margin-top: 30px;
    filter: drop-shadow(5px 5px 17px #000000);
    position: relative;
    z-index: 2;
}

.botonPrincipal:hover {
    background-color: black;
    transition: 1500ms;
    border: 1px solid #bd7502;
    filter: drop-shadow(5px 5px 10px #000000);
}
